{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}]}.
{deps, [
  {gpb, "4.10.6"},
  {crc32cer, "0.1.10"},
  {erlwater, "0.1.0"}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [pulserl]}
]}.

{ct_opts, [{sys_config, ["config/test_sys.config"]}]}.

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{cover_opts, [verbose]}.

{plugins, [rebar3_format, rebar3_gpb_plugin]}.

{format, [
  {files, ["src/*.erl", "include/*.hrl", "test/*.erl"]},
  {formatter, default_formatter},
  {options, #{paper => 100}}
]}.
